.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #dee2e6;
    background-color: #202020;
    margin: 3px;
    border-radius: 10px;
}
.header:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}
body {
    background-color: #ffffff;
}
.left_side {
    display: flex;
    align-items: center;
    gap: 40px;
}
.left_side a{
    color: white;
    font-style: italic;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.left_side img{
    border-radius: 50%;
}
.left_side img:hover{
    transform: scale(1.3);
    transition: transform 0.3s;
}
.upper_section{
    display: flex;
    margin:15px;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.main_img img{
    padding: 15px;
    margin: 13px;
    border-radius: 50px;
    
}
.main_img {
    text-align: center  ;
    color: white;
}

.grid-container {
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    width: 47%;
    margin: 15px;
    border-radius: 10px;
}
.upper_left_side{
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}
.upper_left_side_up{
    padding: 15px;
    margin: 15px;
    display: flex;
    background-color: #000000;
    border-radius: 10px;
}
.upper_left_side_down{
    background-color: #000000;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    display: flex;
}
.lower_section{
    margin-top: 20px;
    background-color: #202020;
    border-radius: 10px;
    margin:15px;
    padding: 15px;
}
.main{
    background-color: #1d1c1c;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
}
.main_card{
    border-radius: 10px;
    color: #ffffff;
    padding: 20px;
}   
.details{
    text-align: center;
    align-content: center;
    border-radius: 10px;
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
    color: white;
}
.details:hover{
    transform: scale(1.02);
    transition: transform 0.4s;
}
.upper_left_side_up:hover{
    transform: scale(1.02);
    transition: transform 0.4s;
}
.upper_left_side_down:hover{
    transform: scale(1.02);
    transition: transform 0.4s;
}
.card{
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:20%;
    margin:15px;
    color: white;
}  
.card:hover{
    transform: scale(1.1);
    transition: transform 0.4s;
}
.upper_section:hover{
    
    transition: box-shadow 0.3s;
}
.lower_section:hover{
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}
.sub_cards{
    display: flex;
    justify-content: center;
    width: 100%;
}