.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #8b8c8e;
    border-bottom: 2px solid #dee2e6;
    margin: 3px;
    border-radius: 10px;
}
.header:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}
.left_side {
    display: flex;
    align-items: center;
    gap: 40px;
}
.left_side a{
    color: white;
    font-style: italic;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.left_side img{
    border-radius: 50%;
}
.left_side img:hover{
    transform: scale(1.3);
    transition: transform 0.3s;
}